<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <!-- bootstrap link  -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    
   <div class="container-fluid">
      <div class="row ">
        <!-- nav -->
        <%- include("./partial/nav") -%>
    
        <main class="col-lg-10">

          <!-- page title dynamicly added  -->
          <div>
            <% if (title) { %>
              <h1><%= title %></h1>
            <% } %>
          </div>
          

          <!-- error message alerts  -->
          <div class="alert alert-danger d-flex align-items-center" role="alert">
            <div>
              An example danger alert with an icon
            </div>
          </div>


          <form action="/catalog/author/create" method="post">

            <!-- first name  -->
            <div class="mb-3">
              <label for="first-name" class="form-label">First Name:</label>
              <input type="text" name="first-name" class="form-control" required="true" id="first-name" placeholder="First Name" value=<%= typeof author!='undefined' ? author.first_name : '' %>>
            </div>
            
            <!-- last name  -->
            <div class="mb-3">
              <label for="last-name" class="form-label">Last Name:</label>
              <input type="text" name="last-name" class="form-control" id="last-name" placeholder="Last Name">
            </div>

            <!-- date of birth  -->
            <div class="mb-3">
              <label for="date-of-birth" class="form-label">Date of Birth:</label>
              <input type="date" name="date-of-birth" class="form-control" id="date-of-birth">
            </div>

             <!-- date of death  -->
             <div class="mb-3">
              <label for="date-of-death" class="form-label">Date of Death:</label>
              <input type="date" name="date-of-death" class="form-control" id="date-of-death">
            </div>

            <button type="submit" class="btn btn-primary">Submit</button>
          </form>



        </main>
      </div>
   </div>
  </body>
</html>
