<!DOCTYPE html>
<html>
  <head>
    <title>Library</title>
    <!-- bootstrap link  -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    
   <div class="container-fluid">
      <div class="row ">
        <!-- nav -->
        <%- include("./partial/nav") -%>
    
        <main class="col-lg-10">

          <!-- Book Details  -->
           <div>
            <h1>Author: Asimov, Isaac</h1>
            <p>
              <strong>Author:</strong>
              <br>
              <small>(Jan 2, 1920 - Apr 6, 1992)</small>
            </p>
           </div>

           <div>

            <!-- names of books author have written  -->
            <h2>Books</h2>

            <!-- book details  -->
            <div>
              <p>
                <strong>
                  <a href="">Book name</a>
                </strong>
                <br>
                Deep below the University, there is a dark place. Few people know of it: a broken web of ancient passageways and abandoned rooms. A young woman lives there, tucked among the sprawling tunnels of the Underthing, snug in the heart of this forgotten place.
              </p>
            </div>

           </div>


          
        </main>
      </div>
   </div>
  </body>
</html>
