<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <!-- <h1><%= title %></h1>
    <p>Welcome to <%= title %></p> -->

    <aside>
      <ul>
        <li>
          <a href="">Home</a>
        </li>
        <li>
          <a href="">All Books</a>
        </li>
        <li>
          <a href="">All Authors</a>
        </li>
        <li>
          <a href="">All Genres</a>
        </li>
        <li>
          <a href="">All Book-instance</a>
        </li>
      </ul>
    </aside>
    <main>
      <div>
        <h1>Local Library Home</h1>
        <p>
          Welcome to LocalLibrary, a very basic Express website developed as a tutorial example on the Mozilla Developer Network. 
        </p>
      </div>

      <div>
        <h1>Dynamic content</h1>
        <p>
          The library has the following record counts:
        </p>
        <ul>
          <li>Book:9</li>
          <li>Copies: 12</li>
          <li>Copies available: 5</li>
          <li>Authors: 8</li>
          <li>Genres: 8</li>
        </ul>
      </div>
    </main>
  </body>
</html>
