<nav>
    <ul>
      <li>
        <a href="">Home</a>
      </li>
      <li>
        <a href="">All Books</a>
      </li>
      <li>
        <a href="">All Authors</a>
      </li>
      <li>
        <a href="">All Genres</a>
      </li>
      <li>
        <a href="">All Book-instance</a>
      </li>
    </ul>
</nav>