<nav class="col-lg-2">
  <ul class="border-bottom pb-4">
    <li>
      <a href="/">Home</a>
    </li>
    <li>
      <a href="/catalog/books">All Books</a>
    </li>
    <li>
      <a href="/catalog/authors">All Authors</a>
    </li>
    <li>
      <a href="/catalog/genres">All Genres</a>
    </li>
    <li>
      <a href="/catalog/bookinstances">All Book-instance</a>
    </li>
  </ul>

  <ul>
    <li>
      <a href="/catalog/author/create">Create new author</a>
    </li>
    <li>
      <a href="/catalog/genre/create">Create new genre</a>
    </li>
    <li>
      <a href="/catalog/book/create">Create new book</a>
    </li>
    <li>
      <a href="">Create new instance (Copy)</a>
    </li>
    <li>
      <a href="">All Book-instance</a>
    </li>
  </ul>
</nav>
